<%= stylesheet_link_tag "chatnew", :media => "all" %>
<body>
<header>
<div class = "boxContainer">
<div class = "box3">
<h1>StudySupport</h1>
</div>
<div class = "box4">
<section>

<% if logged_in? then %>
<%= current_user.name %>
<% else %>
ログインしてください
<% end %>

</section>

</div>
</div>
</header>

<body>
<h1>新しいコメント</h1>

<%= form_with scope: :article, url: articles_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.submit "送信" %>
  </p>
<% end %>

<%= link_to '戻る', articles_path %>
</body>

