<h1>先生の画面</h1>

<h2><%= link_to 'ペアを追加する', new_user_path %></h2>

<table>
  <tr>
    <th>Name</th>
    <th>password</th>
    <th></th>
  </tr>

  <% @users.each do |article| %>
    <tr>
      <td><%= article.name %></td>
      <td><%= article.password %></td>
      <td><%= link_to 'Show', user_path(article) %></td>
    </tr>
  <% end %>
</table>

<h1>DMサンプルアプリ</h1>
<% if logged_in? then %>
<h2>Hello <%= current_user.email %></h2>
  <% @users.each do |u| %>
  <p><a href="/users/<%= u.id %>"><%= u.email %>さん</a></p>
  <hr>
  <% end %>
  <%= link_to 'ログアウトする', controller: 'sessions', action: 'destroy'%>
<% else %>
  <%= link_to "ユーザーを登録する", new_user_registration_path %>
  <br>
  <%= link_to "ログインする", new_user_session_path %>
<% end %>

<%= link_to 'ホームに戻る', controller: 'homes'%>
