<h1>DMを送る</h1>
<br>

<h2>私の名前は <%= current_user.name %></h2>
<h2>私のメールアドレスは <%= current_user.email %></h2>
<br>

<%= link_to "アカウントを追加する", signup_path %>
<br>
<br>

<% @users.each do |u| %>
  <p><a href="/users/<%= u.id %>"><%= u.name %>さん</a></p>
  <hr>
<% end %>