<% provide(:title, 'Sign up') %>
<h1>ユーザーを追加する</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :role_id %>
      <%= f.number_field :role_id, class: 'form-control' %>
      <p> ※Role:生徒の方は1、TAの方は2、先生は3でお願いします。 </p>

      <%= f.submit "アカウントを作成する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>