<body>
<div class = "chat">
<% if @user.id == current_user.id %>
<h2>これは私です</h2>
<p>
  <h3><strong>名前:</strong>
  <%= @user.name %></h3>
  <h3><strong>メールアドレス:</strong>
  <%= @user.email %></h3>
</p>

<% else %>
  <h2><%= @user.name %>さんとチャットする</h2>

  <% if @isRoom == true %>
    <p><a href="/rooms/<%= @roomId %>">チャットへ</a></p>

  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, :value=> @user.id %>
      <% end %>
      <p><%= f.submit "チャットを始める" %></p>
      <% end %>
  <% end %>
<% end %>

<br>
<footer>
<% if current_user.teacher? %>
  <%= link_to "ユーザー一覧に戻る", users_path %>
<% else %>
  <%= link_to 'ホームに戻る', controller: 'homes'%>
<% end %>
<h3>Copyright ©GingDagoz All Rights Reserved.</h3>
</footer>
</div>
</body>