<body>
<header>
<div class = "boxContainer">
<div class = "box3">
<h1>StudySupport</h1>
</div>
<div class = "box4">
<section>

<% if logged_in? then %>
<%= current_user.name %>
<%= link_to 'ログアウト', controller: 'sessions', action: 'destroy'%>
<% else %>
ログインしてください
<% end %>

</section>

</div>
</div>
</header>

<br><br><br><br><br>    <!--ここ最悪すぎるからもっとどうにかできんかな〜-->
<span class="br">
あなたのTAはアナグラさんです

<div class = "flex">
<div class = "box5">
<div id="container">
<div id="calendar">
</div>
</div> 
</div>
<div class = "box1">
<h2>TA</h2>
<ul>
<% @users.each do |u| %>
  <% if u.role_id == 2 %>
    <li><a href="/users/<%= u.id %>"><%= u.name %>さん</a></li>
  <% end %>
<% end %>
<li><%= link_to 'アナグラさん', controller: 'articles' %></li>
<li>たくやさん</li>
<li>アイリスさん</li>
<li>○○さん</li>
</ul>
</div>
<div class = "box2">
<h2>先生</h2>
<ul>
<% @users.each do |u| %>
  <% if u.role_id == 3 %>
    <li><a href="/users/<%= u.id %>"><%= u.name %>先生</a></li>
  <% end %>
<% end %>
<li>國田先生</li>
<li>當間先生</li>
<li>○○先生</li>
</ul>
</div>
</div>

<div class="disp-img"></div>
</span>
</body>

<h4><%= link_to '予定をカレンダーに追加', controller: 'events' %></h4>

 <div id="container">
    <div id="calendar">
    </div>
</div>

<footer>Copyright ©GingDagoz All Rights Reserved.</footer>
